@model WebApplication2.Models.consignee_manageme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>consignee_manageme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.consignee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consignee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consignee_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consignee_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consignee_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consignee_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cinsignee_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinsignee_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
